<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API Documentation</title>
</head>
<body>
    <h1>
    Welcome to our API:<br></h1>
    <p>Available routes:<br>
    "/api/all" returns full dataset(pandas.DataFrame.to_json())<br>
    "/api/teams" returns list of team names to be used with teamName below<br>
    "/api/team/teamName"returns stats for teamName (pandas.DataFrame.to_json())<br>
    </p>
</body>
</html>